---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;

import "@css/global-styles.css";
---

<ul>
  <li class="link-card">
    <a href={href}>
      <div class="link-card__title">
        {title}
        <span>&rarr;</span>
      </div>
    </a>
    <div>{body}</div>
  </li>
</ul>

<style lang="scss">
  @use "@scss/base/_index.scss" as *;

  .link-card {
    @include color-level(2);
    @include flex($direction: column, $ai: center);
    @include border-radius;
    @include links;

    list-style: none;
    padding: 2rem;

    > *:nth-child(2) {
      margin-top: 1rem;
    }

    .link-card__title {
      @include header($font-size: var(--h2), $font-family: unset);
    }

    > a,
    a:link {

      // padding: 1rem;
      border-radius: 0.35rem;
      text-decoration: none;
      line-height: 1.4;
    }
  }
</style>
