---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;

import "@css/global-styles.css";
---

<ul>
  <li class="link-card">
    <a href={href}>
      <div class="link-card__title">
        {title}
        <span>&rarr;</span>
      </div>
    </a>
    <div>{body}</div>
  </li>
</ul>

<style lang="scss">
  @use "@scss/base/_index.scss" as *;

  .link-card {
    @include bgcolor-level(2);
    // color: clr(dark-color);

    // [data-theme="dark"] & {
    //   color: clr(light-color);
    // }
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;


    list-style: none;
    padding: 2rem;
    
    @include border-radius-single;

    .link-card__title {
      @include header1;
      margin: 0 0 1rem 0;
    }

    > a,
    a:link {
      color: clr(accent-color);

      // padding: 1rem;
      border-radius: 0.35rem;
      text-decoration: none;
      line-height: 1.4;
    }

    > a:focus,
    a:hover {
      color: clr(main-color);
    }
  }

</style>
