---
import Card from "@components/default_maybe_remove/default_Card.astro";
---

<div class="section_container">
  <Card
    href="/linuxHQ/"
    title="LinuxHQ Section"
    body="Linux info on Desktop, Distributions, theming and more.."
  />

  <Card href="#" title="TechHQ Section" body="TechHQ Section - Coming Later" />
</div>

<style lang="scss">
  @use "@scss/base/index" as *;

  .section_container {
    gap: 20px;
    padding: 20px;

      @include flex($jc: center);

    > ul:hover {
      box-shadow: 0 4px 8px var(--main-color);
      border-radius: 8px;
    }
  }

  li {
    width: 100%;

    @include border($border-color: clr(light-color));
    // border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
  }


</style>
