---
import Link from "../../../components/global/Link.astro";
---

<div class="accordion">
  <input type="checkbox" id="archmenu" />
  <label for="archmenu">Arch Family</label>
  <div class="accordion-content">
    <Link linktext="Arch Linux" location="../arch/archlinux" />
    <Link linktext="Archbang" location="../arch/archbang" />
    <Link linktext="EndeavourOS" location="../arch/endeavouros" />
    <Link linktext="Manjaro" location="../arch/manjaro" />
  </div>
</div>

<div class="accordion">
  <input type="checkbox" id="debianmenu" />
  <label for="debianmenu">Debian Family</label>
  <div class="accordion-content">
    <Link linktext="Anti-X" location="../debian/antix" />
    <Link linktext="Bunsenlabs" location="../debian/bunsenlabs" />
    <Link linktext="CrunchBang++" location="../debian/cbplusplus" />
    <Link linktext="Debian" location="../debian/debian" />
    <Link linktext="Deepin" location="../debian/deepin" />
    <Link linktext="Linux Mint Debian Edition" location="../debian/lmde" />
    <Link linktext="Makulu Linux" location="../debian/makulu" />
    <Link linktext="MX Linux" location="../debian/mxlinux" />
    <Link linktext="Peppermint" location="../debian/peppermint" />
    <Link linktext="Sparky Linux" location="../debian/solydxk" />
    <Link linktext="SolydXK" location="../debian/sparkylinux" />
  </div>
</div>

<div class="accordion">
  <input type="checkbox" id="rpmmenu" />
  <label for="rpmmenu">RPM Distros</label>
  <div class="accordion-content">
    <span>Fedora based</span>
    <Link linktext="Fedora" location="../rpm/fedora" />

    <span>Open Suse Based</span>
    <Link linktext="Gecko Linux" location="../rpm/geckolinux" />
    <Link linktext="OpenSuse" location="../rpm/opensuse" />

    <span>Various</span>

    <Link linktext="CentOS" location="../rpm/centos" />
    <Link linktext="Mageia" location="mageia" />
    <Link linktext="OpenMandriva" location="../rpm/openmandriva" />
    <Link linktext="PCLinuxOS" location="../rpm/pclinuxos" />
    <Link linktext="ROSA" location="../rpm/rosa" />
  </div>
</div>

<div class="accordion">
  <input type="checkbox" id="gentoomenu" />
  <label for="gentoomenu">Gentoo Family</label>
  <div class="accordion-content">
    <Link linktext="Calculate Linux" location="../gentoo/calculate" />
    <Link linktext="Gentoo" location="../gentoo/gentoo" />
    <Link linktext="MocaccinoOS" location="../gentoo/mocaccinoos" />
  </div>
</div>

<div class="accordion">
  <input type="checkbox" id="miscdistro" />
  <label for="miscdistro">Misc. Distros</label>
  <div class="accordion-content">
    <Link linktext="KaOS" location="../independent/kaos" />
    <Link linktext="Solus" location="../independent/solus" />
    <Link linktext="Puppy Linux" location="../independent/puppylinux" />
  </div>
</div>

<div class="accordion">
  <input type="checkbox" id="ubuntumenu" />
  <label for="ubuntumenu">Ubuntu Family</label>
  <div class="accordion-content">
    <Link linktext="Elementary OS" location="../ubuntu/elementary" />
    <Link linktext="KDE Neon / Neon" location="../ubuntu/neon" />
    <Link linktext="Kubuntu" location="../ubuntu/kubuntu" />
    <Link linktext="Linux Lite" location="../ubuntu/linuxlite" />
    <Link linktext="Linux Mint" location="../ubuntu/linuxmint" />
    <Link linktext="LXLE" location="../ubuntu/lxle" />
    <Link linktext="Lubuntu" location="../ubuntu/lubuntu" />
    <Link linktext="Ubuntu" location="../ubuntu/ubuntu" />
    <Link linktext="Ubuntu Budgie" location="../ubuntu/ubuntubudgie" />
    <Link linktext="Ubuntu Cinnamon" location="../ubuntu/ubuntucinnamon" />
    <Link linktext="UbuntuDDE" location="../ubuntu/ubuntuDDE" />
    <Link linktext="Ubuntu Mate" location="../ubuntu/ubuntumate" />
    <Link linktext="Ubuntu Unity" location="../ubuntu/ubuntuunity" />
    <Link linktext="Xubuntu" location="../ubuntu/xubuntu" />
    <Link linktext="Zorin" location="../ubuntu/zorin" />
  </div>
</div>

<style>
  input {
    display: none;
  }
</style>
