---
import AsideLinkTarget from "@components/global/AsideLinkTarget.astro";
import PageLinkToMenus from "@components/global/PageLinkToMenus.astro";

const themes = [
  { name: "Adapta Theme", link: "/linuxHQ/theming/themes/adapta_theme" },
  { name: "Arc Theme", link: "/linuxHQ/theming/themes/arc_theme" },
  { name: "Materia Theme", link: "/linuxHQ/theming/themes/materia_theme" },
  { name: "Numix Theme", link: "/linuxHQ/theming/themes/numix_theme" },
  { name: "Papirus Theme", link: "/linuxHQ/theming/themes/papirus_theme" },
];

const iconThemes = [
  {
    name: "Adwaita Icon Theme",
    link: "/linuxHQ/theming/icon_themes/adwaita_icon_theme",
  },
  {
    name: "Breeze Icon Theme",
    link: "/linuxHQ/theming/icon_themes/breeze_icon_theme",
  },
  {
    name: "Numix Icon Theme",
    link: "/linuxHQ/theming/icon_themes/numix_icon_theme",
  },
  {
    name: "Papirus Icon Theme",
    link: "/linuxHQ/theming/icon_themes/papirus_icon_theme",
  },
  {
    name: "Yaru Icon Theme",
    link: "/linuxHQ/theming/icon_themes/yaru_icon_theme",
  },
];
---
<!-- target for mobile link -->
<div id="aside"></div>

<!-- this is the link only on mobile to return to the top of the page -->
<a href="#backtotop" class="backtotop">Back to Top</a>

<input type="checkbox" id="themeMenu" />
<label for="themeMenu">Linux Themes</label>
<div class="accordion">
  <div class="accordion-content">
    <ul>
      {
        themes.map((theme) => (
          <li>
            <a href={theme.link}>{theme.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<input type="checkbox" id="iconThemeMenu" />
<label for="iconThemeMenu">Icon Themes</label>
<div class="accordion">
  <div class="accordion-content">
    <ul>
      {
        iconThemes.map((icon) => (
          <li>
            <a href={icon.link}>{icon.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

  body {
    font-family: "Roboto", sans-serif;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 1rem;
    }
  }
</style>
