:root {
  --main-color: hsl(34 90% 44%);
  --accent-color: hsl(150, 100%, 20%);

  --fw-bold: bold;

  --ffamily-roboto: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --ffamily-dynapuff: "DynaPuff", -apple-system, blinkmacsystemfont, "Segoe UI";
  --ffamily-e-candy: "Emilys Candy", -apple-system, blinkmacsystemfont,
    "Segoe UI";

  --ffamily-header: var(--ffamily-dynapuff);
  --ffamily-nav: var(--ffamily-e-candy);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fw-bold {
  font-weight: var(--fw-bold);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  flex-wrap: wrap; // Added for mobile responsiveness

  .section-title {
    font-family: var(--ffamily-header);
    font-optical-sizing: auto;
    font-variation-settings: "width" 100;
  }

  nav {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
    font-family: var(--ffamily-nav);
    font-weight: 700;
    font-style: normal;
    flex-wrap: wrap; // Added for mobile responsiveness
  }
}

@media (max-width: 768px) {
  header {
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  nav {
    gap: 1rem;
    margin-right: 0;
    justify-content: center;
  }
}

header,
footer {
  width: 100%;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 1rem;

  a {
    color: #ffffff;
  }
}

/* main section of site */
.main-section {
  width: 100vw;
  display: flex;
  margin: 0.5rem 1rem;

  /* the sidebar containing the menus */
  aside {
    width: 18%;
    margin-right: 1.25rem;

    label {
      background-color: var(--accent-color);
      color: white;
      display: block;
      padding: 1rem;
      font-weight: 700;
      font-size: 1.25rem;
    }

    /* this is the full menu minus the title/label */
    .accordion {
      outline: 1px solid var(--accent-color);
      border-radius: 10px 10px 0 0;
      padding: 1rem;

      .accordion-content > * {
        display: flex;
        flex-flow: column nowrap;
        margin: 1rem 0;
      }
    }

    .accordion:nth-child(1) {
      margin: 0 1.5rem 1.5rem 1.5rem;
    }

    .accordion:nth-child(n + 2) {
      padding: 0.5rem 1.5rem;
    }
  }
}
