:root {
  --main-color: hsl(34 90% 44%);
  --accent-color: hsl(150, 100%, 20%);

  --ffamily-roboto: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--ffamily-roboto);
}


a {
  color: var(--accent-color);
  text-decoration: none;
}


header,
footer {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 1rem;

  a {
    color: white;
  }
}

header {
  font-size: 2rem;
  font-weight: 700;
}

/* main section of site */
.main-section {
  width: 100vw;
  display: flex;
  margin: 1rem auto;

  /* the sidebar containing the menus */
  aside {
    width: 19%;

    label {
      background-color: var(--accent-color);
      color: white;
      display: block;
      padding: 1rem;
      font-weight: 700;
      font-size: 1.25rem;
    }

    .accordion {
      outline: 1px solid var(--accent-color);
      border-radius: 10px 10px 0 0;
  
      .accordion-content {
        margin: 0 1rem;
  
        > * {
          display: block;
          margin: .5rem auto;
        }
      }
    }

    .accordion:nth-child(1) {
      margin: 0 1.5rem 1.5rem 1.5rem;
    }

    .accordion:nth-child(n +2) {
      margin: 1.5rem;
    }
  }

  /* where the content passed from individual pages would go */
  .primary-content {
    width: max-content;
  }
}

