---
import "@css/global-styles.css";
---

<table class="palette">
  <thead>
    <tr>
      <th></th>
      <th>main-color</th>
      <th>accent-color</th>
      <th>Light</th>
      <th>Dark</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>100</th>
      <td style="background: var(--main-color-100)">100</td>
      <td style="background: var(--accent-color-100)">100</td>
      <td style="background: var(--light-color-100)">100</td>
      <td style="background: var(--dark-color-100)">100</td>
    </tr>
    <tr>
      <th>200</th>
      <td style="background: var(--main-color-100)">200</td>
      <td style="background: var(--accent-color-100)">200</td>
      <td style="background: var(--light-color-100)">200</td>
      <td style="background: var(--dark-color-100)">200</td>
    </tr>
    <tr>
      <th>300</th>
      <td style="background: var(--main-color-300)">300</td>
      <td style="background: var(--accent-color-300)">300</td>
      <td style="background: var(--light-color-300)">300</td>
      <td style="background: var(--dark-color-300)">300</td>
    </tr>
    <tr>
      <th>500</th>
      <td style="background: var(--main-color-500)">500</td>
      <td style="background: var(--accent-color-500)">500</td>
      <td style="background: var(--light-color-500)">500</td>
      <td style="background: var(--dark-color-500)">500</td>
    </tr>
    <tr>
      <th>600</th>
      <td style="background: var(--main-color-600)">600</td>
      <td style="background: var(--accent-color-600)">600</td>
      <td style="background: var(--light-color-600)">600</td>
      <td style="background: var(--dark-color-600)">600</td>
    </tr>
    <tr>
      <th>700</th>
      <td style="background: var(--main-color-700)">700</td>
      <td style="background: var(--accent-color-700)">700</td>
      <td style="background: var(--light-color-700)">700</td>
      <td style="background: var(--dark-color-700)">700</td>
    </tr>
    <tr>
      <th>800</th>
      <td style="background: var(--main-color-800)">800</td>
      <td style="background: var(--accent-color-800)">800</td>
      <td style="background: var(--light-color-800)">800</td>
      <td style="background: var(--dark-color-800)">800</td>
    </tr>
    <tr>
      <th>900</th>
      <td style="background: var(--main-color-900)">900</td>
      <td style="background: var(--accent-color-900)">900</td>
      <td style="background: var(--light-color-900)">900</td>
      <td style="background: var(--dark-color-900)">900</td>
    </tr>

    <!-- <tr>
      <th>soft</th>
      <td style="background: var(--main-color-soft)">color-soft </td>
      <td style="background: var(--accent-color-soft)">color-soft </td>
      <td style="background: var(--light-color-soft)">color-soft </td>
      <td style="background: var(--dark-color-soft)">color-soft </td>
    </tr>

    <tr>
      <th>strong</th>
      <td style="background: var(--main-color-strong)">color-strong</td>
      <td style="background: var(--accent-color-strong)">color-strong</td>
      <td style="background: var(--light-color-strong)">color-strong</td>
      <td style="background-color: var(--dark-color-strong)">color-strong</td>
    </tr>
    <tr>
      <th>stronger</th>
      <td style="background: var(--main-color-stronger)">main-color-stronger</td
      >
      <td style="background: var(--accent-color-stronger)"
        >accent-color-stronger</td
      >
      <td style="background: var(--light-color-stronger)"
        >light-color-stronger</td
      >
      <td style="background: var(--dark-color-stronger)">dark-color-strongee</td
      >
    </tr> -->
    <!-- Grouped by level, each row uses the same color variable type for all tds -->
    <tr>
      <th>level 1</th>
      <td style="background: var(--main-color-l1)">main-color-l1</td>
      <td style="background: var(--main-color-l2)">main-color-l2</td>
      <td style="background: var(--main-color-l3)">main-color-l3</td>
      <td style="background: var(--main-color-l4)">main-color-l4</td>
    </tr>
    <tr>
      <th>level 2</th>
      <td style="background: var(--accent-color-l1)">accent-color-l1</td>
      <td style="background: var(--accent-color-l2)">accent-color-l2</td>
      <td style="background: var(--accent-color-l3)">accent-color-l3</td>
      <td style="background: var(--accent-color-l4)">accent-color-l4</td>
    </tr>
    <tr>
      <th>level 3</th>
      <td style="background: var(--light-color-l1)">light-color-l1</td>
      <td style="background: var(--light-color-l2)">light-color-l2</td>
      <td style="background: var(--light-color-l3)">light-color-l3</td>
      <td style="background: var(--light-color-l4)">light-color-l4</td>
    </tr>
    <tr>
      <th>level 4</th>
      <td style="background: var(--dark-color-l1)">dark-color-l1</td>
      <td style="background: var(--dark-color-l2)">dark-color-l2</td>
      <td style="background: var(--dark-color-l3)">dark-color-l3</td>
      <td style="background: var(--dark-color-l4)">dark-color-l4</td>
    </tr>
  </tbody>
</table>

<!-- <table>
  <tbody>
    <tr> Surface colors </tr>
  </tbody>
</table> -->

<style>
  * {
    font-size: 1.25rem;
  }

  table {
    width: 90%;
    margin: auto;

    td {
      width: 25%;
    }
  }
</style>
