---
// import Layout from "../layouts/Layout.astro";
import "@css/global-styles.css";

import LightIcon from "@graphics/dark_mode.svg";
import DarkIcon from "@graphics/light_mode.svg";
import GitGroups from "@layouts/frontpage/gitGroups.astro";
import SiteSections from "@layouts/frontpage/siteSections.astro";
import Footer from "@layouts/global/global-footer.astro";
import GlobalHeadtag from "@layouts/global/global-headtag.astro";
---

<html lang="en">
  <GlobalHeadtag
    title="Xmetalfanx's Main Site Frontpage"
    keywords="Linux, Ubuntu, Linux Mint, Fedora, Cinnamon, Plasma, XFCE, Distros, Desktops"
  />

  <header>
    Xmetalfanx's Homepage

    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
      <LightIcon id="light-icon" />
      <DarkIcon id="dark-icon" />
    </button>
  </header>
</html>

<main>
  <SiteSections />
  <GitGroups />
</main>

<Footer />

<script src="../layouts/linuxHQ/ThemeToggleScript.js"></script>

<style>

  @use "@scss/base/_index.scss" as *;

  header {
    justify-content: center;


    padding: 1rem;
    @include header;
    font-size: var(--h1);

    button {
      position: absolute;
      right: 1rem;
    }
  }

  /* main is the group in the middle that contains the links to the site sections AND the git section */
  main {
    margin: 2rem 0;
  }

</style>
