---
// import Layout from "../layouts/Layout.astro";
import "@css/global-styles.css";

import GlobalHeadtag from "@layouts/global/global-headtag.astro";
import Footer from "@layouts/global/global-footer.astro";

import SiteSections from "@layouts/frontpage/siteSections.astro";
import GitGroups from "@layouts/frontpage/gitGroups.astro";
---
<html lang="en">
  <GlobalHeadtag title="Xmetalfanx's Main Site Frontpage" 
  keywords="Linux, Ubuntu, Linux Mint, Fedora, Cinnamon, Plasma, XFCE, Distros, Desktops"/>

  <header>Xmetalfanx's Homepage</header>
</html>

<main>
  <SiteSections />
  <GitGroups />
</main>

<Footer />

<style>
  a {
    font-size: 1.5rem;
    margin: 1rem;
  } 

   header {
    justify-content: center;
    font-size: 2.5rem;
    font-family: var(--ffamily-header);
  }

  main {
    /* background-color: var(--light-color-500); */
    margin: 2rem 0;
  }
</style>
