---
// import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
import Header from "../layouts/frontpage-header.astro";
import Footer from "../layouts/global/global-footer.astro";
import SiteSections from "../components/frontpage/siteSections.astro";
import GitGroups from "../components/frontpage/gitGroups.astro";
import GlobalHeadtag from "../layouts/global/global-headtag.astro";


---
<GlobalHeadtag />


<Header />
  <SiteSections />
  <GitGroups />

  <a href="linuxHQ/linuxmint">Linux Mint</a>
  <a href="linuxHQ/linuxDistros">Linux Distro</a>
<Footer />

<style>
  a {
    font-size: 1.5rem;
    margin: 1rem;
  }
</style>