---
// import Layout from "../layouts/Layout.astro";
import "@css/global-styles.css";

import GlobalHeadtag from "@layouts/global/global-headtag.astro";
import Footer from "@layouts/global/global-footer.astro";

import SiteSections from "@layouts/frontpage/siteSections.astro";
import GitGroups from "@layouts/frontpage/gitGroups.astro";

import LightIcon from "@graphics/dark_mode.svg";
import DarkIcon from "@graphics/light_mode.svg";
---

<html lang="en">
  <GlobalHeadtag
    title="Xmetalfanx's Main Site Frontpage"
    keywords="Linux, Ubuntu, Linux Mint, Fedora, Cinnamon, Plasma, XFCE, Distros, Desktops"
  />

  <header>
    Xmetalfanx's Homepage

    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
      <LightIcon id="light-icon" />
      <DarkIcon id="dark-icon" />
    </button>
  </header>
</html>

<main>
  <SiteSections />
  <GitGroups />
</main>

<Footer />

<script src="../layouts/linuxHQ/ThemeToggleScript.js"></script>

<style>

  @use "@scss/base/_index.scss" as *;

  header {
    justify-content: center;

    @include header;
    font-size: var(--h1);
  }

  main {
    /* background-color: var(--light-color-500); */
    margin: 2rem 0;
  }

  #theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }


</style>
