---
const { distroTitle, distroHome, distroBase } = Astro.props;
---

<div class="container">
  <div>
    <span class="infoTitle">Distro Title:</span>
    {distroTitle}
  </div>
  <div>
    <span class="infoTitle">Distro Homepage:</span>
    {distroHome}
  </div>
  <div>
    <span class="infoTitle">Distro Base:</span>
    {distroBase}
  </div>
  <div></div>
</div>

<style>
  .container {
    background-color: #efefef;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
}
  .infoTitle {
    font-weight: bold;
  }
</style>
