---
import Link from "@components/global/Link.astro";
---

<header>
  <div class="section-title">
    <Link linktext="LinuxHQ" location="/linuxHQ/" />
  </div>
  <nav>
    <Link linktext="Desktops" location="/linuxHQ/desktops/frontpage/" />
    <Link linktext="Distros" location="/linuxHQ/distros/frontpage/" />
    <Link linktext="Theming" location="#" />
    <Link linktext="Tips" location="#" />
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;

    nav {
      display: flex;
      gap: 3rem;
      font-size: 1.4rem;
      margin-right: 2rem;
    }


  }
</style>
