---
import Link from "@components/global/Link.astro";
---

<header>
  <div class="section-title">
    <Link linktext="LinuxHQ" location="/linuxHQ/" />
  </div>
  <nav>
    <Link linktext="Desktops" location="/linuxHQ/desktops/frontpage/" />
    <Link linktext="Distros" location="/linuxHQ/distros/frontpage/" />
    <Link linktext="Theming" location="/linuxHQ/theming/frontpage/" />
    <Link linktext="Tips" location="#" />
  </nav>
</header>

<style lang="scss">
  /* Removed header-related CSS */
</style>
