// Color scheme - Tropical 1
$main-color: oklch(66% 50% 51);
$accent-color: oklch(45% 80% 182.8);
//$accent-color2: hsl(160, 100%, 25%);


// Christmas Theme
// $main-color: hsl(120, 100%, 20%);
// $accent-color: hsl(2, 94%, 31%);

// winter
// $main-color: hsl(206, 80%, 60%);
// $accent-color: hsl(240, 98%, 41%);
// comment out other light color
// $light-color: hsl(45, 0%, 97%);

// consider keeping these no matter the theme change above
$light-color: oklch(98% 0 78);
$dark-color: oklch(32% 0 271);
