// Color scheme - Tropical 1
$main-color: hsl(29, 100%, 43%);
//$accent-color2: hsl(160, 100%, 25%);
$accent-color: hsl(174, 100%, 19%);

// Christmas Theme
// $main-color: hsl(120, 100%, 20%);
// $accent-color: hsl(2, 94%, 31%);


$light-color: hsl(45, 29%, 97%);
$dark-color: hsl(0, 0%, 20%);
