// This file is related to the mixins that are more "base content" related

@use "mixin_border_and_outline" as *;

// tl: top left, tr: top right,  br: bottom right, bl: bottom left,
@mixin border-radius($tl: 10px, $tr: 10px, $bl: 10px, $br: 10px) {
  border-radius: $tl $tr $br $bl;
}

// because i am always forget the default values i use
// x or y is x axis or y axis
@mixin box-shadow(
  $x: 0,
  $y: 0.5rem,
  $blur: 1rem,
  $color: var(--main-color),
  $color-dark: var(--light-color)
) {
  html[data-theme="light"] & {
    box-shadow: $x $y $blur $color;
  }

  html[data-theme="dark"] & {
    box-shadow: $x $y $blur $color-dark;
  }
}

@mixin drop-shadow(
  $xaxis: 0,
  $yaxis: 0.5rem,
  $blur: 1rem,
  $color: var(--dark-color)
) {
  filter: drop-shadow($xaxis $yaxis $blur $color);
}

@mixin flex($direction: row, $wrap: wrap, $jc: flex-start, $ai: normal) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $jc;
  align-items: $ai;
}

@mixin header(
  $font-family: var(--ffamily-header),
  $font-size: var(--h1),
  $font-weight: var(--fw-bold)
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

// for links
// "intial values" are for a, a:link
@mixin links(
  // the link (unhovered) color
  $light-link: var(--accent-color),
  $light-link-bg: inherit,
  $light-link-hf: var(--main-color),
  $light-link-hf-bg: inherit,
  $light-link-visited: var(--accent-color),
  $dark-link: var(--light-color-l2),
  $dark-link-bg: inherit,
  $dark-link-hf: var(--main-color-l2),
  $dark-link-hf-bg: inherit,
  $dark-link-visited: var(--main-color)
) {
  html[data-theme="light"] & {
    a,
    a:link {
      background-color: $light-link-bg;
      color: $light-link;

      &:focus,
      &:hover {
        background-color: $light-link-hf-bg;
        color: $light-link-hf;
        @include outline;
      }
    }
  }

  html[data-theme="dark"] & {
    a,
    a:link {
      background-color: $dark-link-bg;
      color: $dark-link;

      &:focus,
      &:hover {
        background-color: $dark-link-hf-bg;
        color: $dark-link-hf;
      }
    }
  }
}

@mixin ai_ac_ji_jc(
  $align-items: normal,
  $align-content: normal,
  $justify-items: legacy,
  $justify-content: normal
) {
  align-items: $align-items;
  align-content: $align-content;
  justify-items: $justify-items;
  justify-content: $justify-content;
}
