@use "sass:color";
@use "colors" as *;
@use "functions" as *;

@mixin color-level($level: 1) {
  $adjustment: -5%;

  // Adjust the lightness/"darkness", based on the level
  @if $level == 2 {
    $adjustment: -5%;
  } @else if $level == 3 {
    $adjustment: $adjustment * 1.5;
  }


  // Default light styles
  html[data-theme="light"] & {
    background-color: color.adjust($light-color, $lightness: $adjustment);
    
    a {
        color: clr(accent-color);
      }
    }
    

  // Dark theme styles using attribute selector
  html[data-theme="dark"] & {
    background-color: color.adjust($dark-color, $lightness: $adjustment * -1);
    
    a {
      color: clr(main-color, "light");

      &:hover {
        background-color: clr(main-color);
        color: clr(light-color);
      }
    }
    
  }

}

// tl: top left, tr: top right,  br: bottom right, bl: bottom left,
@mixin border-radius($tl: 10px, $tr: 10px, $bl: 10px, $br: 10px) {
  border-radius: $tl $tr $br $bl;
}

@mixin outline(
  $outline-size: 1px,
  $outline-style: solid,
  $outline-color: var(--theme-clr-main-500)
) {
  outline: $outline-color;
  outline-style: $outline-style;
  outline-width: $outline-size;
}

@mixin border(
  $border-size: 1px,
  $border-style: solid,
  $border-color: var(--theme-clr-main-500)
) {
  border: $border-size $border-style $border-color;
}

// because i am always forget the default values i use
@mixin box-shadow(
  $xaxis: 0,
  $yaxis: 0.5rem,
  $blur: 1rem,
  $color: var(--main-color)
) {
  box-shadow: $xaxis $yaxis $blur $color;
}

@mixin drop-shadow(
  $xaxis: 0,
  $yaxis: 0.5rem,
  $blur: 1rem,
  $color: var(--theme-clr-dark-500)
) {
  filter: drop-shadow($xaxis $yaxis $blur $color);
}

@mixin header (
  $font-family: var(--ffamily-header),
  $font-size: var(--h1),
  $font-weight: var(--fw-bold)

) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  ;

}

@mixin flex(
  $direction: row,
  $wrap: wrap,
  $jc: flex-start,
  $ai: normal
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $jc;
  align-items: $ai;
}