@use "sass:color";
@use "colors" as *;

@mixin bgcolor-level($level: 1) {
  $adjustment: -5%;

  // Adjust the lightness based on the level
  @if $level == 2 {
    $adjustment: -5%;
  } @else if $level == 3 {
    $adjustment: $adjustment * 1.5;
  }


  // Default light styles
  html[data-theme="light"] & {
    background-color: color.adjust($light-color, $lightness: $adjustment);
  }

  // Dark theme styles using attribute selector
  html[data-theme="dark"] & {
    background-color: color.adjust($dark-color, $lightness: $adjustment * -1);
  }

}
