// widths 
// the target and BELOW 
$breakpoint-sm: "width <= 48em";    // about 768px
$breakpoint-md: "width <= 64em";    // about 1024px
$breakpoint-lg: "width <= 75em";    // about 1200px
$breakpoint-xl: "width <= 90em";    // about 1440px
$breakpoint-xxl: "width <= 120em";  // about 1920px


// new IDEA of breakpoints to maybe use 
// *** issue i see exact targets (on original copy and pasted values)

// Targets smartphones and small mobile devices in portrait mode.
$breakpoint2-xs: "width <= 576px";

// Includes larger smartphones and smaller tablets in portrait mode.
// $breakpoint2-sm: "width > 577px && width <= 768px";
$breakpoint2-sm: "width <= 768px";

// Targets larger tablets and smaller desktop screens in landscape mode.
// $breakpoint2-md: "width >= 769px && width <= 1024";
$breakpoint2-md: "width <= 1024";

// Targets standard desktop screens and larger laptops.
// $breakpoint2-lg: "width >= 1025px && width <= 1440px";
$breakpoint2-lg: "width <= 1440px";


// is this needed considering $breakpoint2-lg
// Includes large desktop monitors and wide-screen displays.
$breakpoint2-xl: "width >= 1441px";


// Breakpoint3 in em units (1em = 16px by default)
$breakpoint3-xs: "width <= 36em";    // 576px
$breakpoint3-sm: "width <= 48em";    // 768px
$breakpoint3-md: "width <= 64em";    // 1024px
$breakpoint3-lg: "width <= 90em";    // 1440px
$breakpoint3-xl: "width >= 90.0625em"; // 1441px (slightly above 1440px)


// have to rethink this .. 1.2x REM maybe around my "default" font size
$h3: 1.25rem;

$mobile-header-height: 10rem;