@use "base/index" as *;

:root {
  --main-color: #{$main-color};
  --accent-color: #{$accent-color};
  --light-color: #{$light-color};
  --dark-color: #{$dark-color};


  @include color-variants(main-color);
  @include color-variants(accent-color);
  @include color-variants(light-color);
  @include color-variants(dark-color);

  --fw-bold: 800;

  // 400 (like with some of Kevin Powell's vars is the "middle"/default
  --fs-200: 1.1rem;
  --fs-300: 1.15rem;
  --fs-400: 1.2rem;
  --fs-500: 1.3rem;

  --fs-default: var(--fs-400);

  --fs-normal: 1.125rem;
  --fs-large: 1.2rem;
  --fs-larger: 1.4rem;

  // header sizes (fonts)
  --h1: 2rem;
  --h2: 1.5rem;

  // Font Families
  --ffamily-roboto:
    "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --ffamily-dynapuff: "DynaPuff", -apple-system, blinkmacsystemfont, "Segoe UI";
  --ffamily-e-candy:
    "Emilys Candy", -apple-system, blinkmacsystemfont, "Segoe UI";

  --ffamily-header: var(--ffamily-dynapuff);
  --ffamily-nav: var(--ffamily-e-candy);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme="light"] {
  @include color-levels(main-color, light);
  @include color-levels(accent-color, light);
  @include color-levels(light-color, light);
  @include color-levels(dark-color, light);
}

:root[data-theme="dark"] {
  @include color-levels(main-color, dark);
  @include color-levels(accent-color, dark);
  @include color-levels(light-color, dark);
  @include color-levels(dark-color, dark);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}


body {
  html[data-theme="light"] & {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  html[data-theme="dark"] & {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  font-size: var(--fs-normal);

  display: grid;
  grid-template: 1fr auto 1fr / 1fr;
  grid-template-areas:
    "header"
    "primary-container"
    "footer";

  height: 100vh;

  // default links ... things like header and footer are styled specifically, there
  a,
  a:link {
    text-decoration: none;
  }

  @media ($breakpoint-sm) {
    grid-template-areas:
      "primary-container"
      "header";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

.fw-bold {
  font-weight: var(--fw-bold);
}

// Screenshot
.screenshot {
  margin: 0 1.5rem;
  img {
    width: 100%;
    height: auto;

    @media (max-width: $breakpoint-sm) {
      width: 50%;
    }
  }
}
