@use "base/index" as *;

:root {
  // Color scheme
  --main-color: oklch(68% 0.20 63);
  // --accent-color: hsl(160, 100%, 25%);
  --accent-color: oklch(43.393% 0.1 186);
  --light-color: oklch(95.514% 0 271);
  --dark-color: oklch(27% 0.00003 271);


  --fw-bold: 800;

  // 400 (like with some of Kevin Powell's vars is the "middle"/default
  --fs-200: 1.10rem;
  --fs-300: 1.15rem;
  --fs-400: 1.2rem;
  --fs-500: 1.3rem;
  
  --fs-default: var(--fs-400);

  // header sizes (fonts)
  --h1: 2rem;
  --h2: 1.5rem;

  // Font Families
  --ffamily-roboto: "Roboto", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --ffamily-dynapuff: "DynaPuff", -apple-system, blinkmacsystemfont, "Segoe UI";
  --ffamily-e-candy: "Emilys Candy", -apple-system, blinkmacsystemfont,
    "Segoe UI";

  --ffamily-header: var(--ffamily-dynapuff);
  --ffamily-nav: var(--ffamily-e-candy);


  --fs-normal: 1.125rem;
  --fs-large: 1.20rem;
  --fs-larger: 1.4rem;


  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .bg-level-1 {
//   @include bg-level-1;
// }

// .bg-level-2 {
//   @include bg-level-2;
// }
// .bg-level-3 {

//   @include bg-level-3;
// }

body {

  font-size: var(--fs-normal);
  
  display: grid;
  grid-template: 1fr auto 1fr / 1fr;
  grid-template-areas:
    "header"
    "primary-container" 
    "footer";

  height: 100vh;

  // default links ... things like header and footer are styled specifically, there
  a,
  a:link {
    text-decoration: none;
  }


  @media ($breakpoint-sm) {
    grid-template-areas:
      "primary-container"
      "header";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }


}

.fw-bold {
  font-weight: var(--fw-bold);
}

// Screenshot
.screenshot {
  margin: 0 1.5rem;
  img {
    width: 100%;
    height: auto;

    @media (max-width: $breakpoint-sm) {
      width: 50%;
    }
  }
}
