@use "base/index" as *;


header,
footer {

  html[data-theme="light"] & {
    background-color: var(--main-color);    
  }

  html[data-theme="dark"] & {
    background-color: var(--main-color-l2);
  }
  
  color: var(--light-color);

  padding: 1rem;


  @include links(
    $light-link: var(--light-color),
    $dark-link: var(--light-color),
    $light-link-hf: var(--accent-color),
    $dark-link-hf: var(--accent-color)
  );

  a {
    margin: 2px;

    &:visited {
      text-decoration: dotted;
    }
  }
}

header {
  grid-area: header;

  @include flex($jc: space-between, $ai: center);

  font-weight: var(--fw-bold);

  // commented out due to this being in an .Astro file 
  // @media (max-width: $breakpoint-sm) {

  //   nav {
  //     flex-flow: column wrap;
  //     gap: 1rem;
  //     margin-inline: auto;
  //   }
  // }
}
