@use "sass:color";
@use "colors" as *;

// @mixin bg-level-1() {
//   background-color: var(--light-clr-l1);

//   @media (prefers-color-scheme: dark) {
//     background-color: var(--dark-clr-l1);
//   }
// }

// @mixin bg-level-2() {
//   background-color: var(--light-clr-l2);

//   @media (prefers-color-scheme: dark) {
//     background-color: var(--dark-clr-l2);
//   }
// }

// @mixin bg-level-3() {
//   background-color: var(--light-clr-l3);

//   @media (prefers-color-scheme: dark) {
//     background-color: var(--dark-clr-l3);
//   }
// }

@mixin bgcolor-level($level: 1) {
  $adjustment: -10%;

  @media (prefers-color-scheme: light) {

    @if $level == 2 {
      background-color: color.adjust($light-color, $lightness: $adjustment);
    } @else if $level == 3 {
      background-color: color.adjust($light-color, $lightness: $adjustment * 1.5);
    }
  }

  @media (prefers-color-scheme: dark) {
   
    @if $level == 2 {
      background-color: color.adjust($dark-color, $lightness: -$adjustment);
    } @else if $level == 3 {
      background-color: color.adjust($dark-color, $lightness: -$adjustment * 1.5);
    }
  }
}
