@use "base/index" as *;

/* main section of site */
// updated: march 17, 2025: at the time of me typing this i have not adjusted the code below
// the main section should now be "primary-content" which includes any asides AND the <main>
// AT THE TIME OF ME TYPING THIS the old "<div class="primary-content>" should NOW BE <main>
.primary-container {
  // do i need this for something?
  //color: clr(dark-color);

  // div that astro puts between the primary-container and the aside/main section
  > *:nth-child(1) {
    gap: 2rem;
    margin: 1rem;

    // grid-area: primary-container;
    display: grid;
    grid-template-areas: "aside main";
    // grid-template-columns: 16% 1fr;
    grid-template-columns: auto 1fr;

    @media (width > $breakpoint-sm) and (width <= 64em) {
      gap: 1rem;
      // grid-template-columns: 20% 1fr;
    }

    @media (width <= $breakpoint-sm) {
      grid-template-areas:
        "aside"
        "main";
      grid-template-columns: unset;
    }

    > aside {
      grid-area: aside;
      margin: unset;
      label {
        background-color: clr(accent-color);
        color: clr(light-color);
        font-weight: 800;
        display: block;
        padding: 1rem;
      }

      .accordion {
        @include color-level(2);

        margin-bottom: 1rem;
        outline: 1px solid var(--accent-color);
        padding: 1.25rem;
        
        // reason: it looks like one pixel too wide at 100%, to my eyes 
        width: 99%;

        .accordion-content {

          @include flex($direction: column, $wrap: nowrap);

          // menu items
          a {
            margin: 0.5rem 0;
            color: clr(accent-color, "dark");


            [data-theme="dark"] {
              color: clr(light-color)
            }
          }
        }
      }
    }

    > main {
      grid-area: main;
    }
  }

  @media (width <= $breakpoint-sm) {
    aside {
      margin: 0 2rem;

      label {
        text-align: center;
      }

      .accordion {
        display: none;

        .accordion-toggle {
          display: block;
        }

        &.active .accordion-content {
          @include flex;
        }
      }
    }
  }

  // should i put this elsewhere?
  .linux-main {
    @include color-level(2);

    li {
      @include color-level(3);
      margin: 1.15rem 0;
      padding: 0.5rem;
      border-radius: 5px;
    }

    .card {
      @include color-level(2);
      margin: 1.15rem 0;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
}
