#theme-toggle {

    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    [data-theme="dark"] & {

      svg {
        fill: var(--light-color);
      }
    }

    svg {
      fill: var(--accent-color);

      transition: all 0.3s ease-in-out;
    }
  }