@use "base/index" as *;

#theme-toggle {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
  width: 50px;
  height: 50px;

  // remember this is for the items IN the button, 
  // not #theme-toggle in the footer itself
  @include flex($ai: center, $jc: center);

  @media ($breakpoint-sm) {
    // position: absolute;
    // left: 1rem;
    // right: unset;
  }

  // for the svg color
  svg {
    fill: var(--accent-color);

    transition: all 0.3s ease-in-out;

    [data-theme="dark"] & {

      // why is !important needed? ...
      fill: clr(light-color) !important;
    }
  }
}
