@use "base/index" as *;

#theme-toggle {

    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    width: 50px;
    height: 50px;

    @include flex($ai: center, $jc: center);

    [data-theme="dark"] & {

      svg {
        fill: var(--light-color);
      }
    }

    svg {
      fill: var(--accent-color);

      transition: all 0.3s ease-in-out;
    }
  }