---
import LinuxBaseTemplate from "@layouts/templates/linuxhq/linux-base-template.astro";
---

<LinuxBaseTemplate
  title="Linux Desktops"
  keywords="Linux Desktops, Linux Desktop Environments, Linux Desktop Themes"
  description="Linux Desktops, Desktop Environments, and Themes"
>
  <div slot="linux-container" class="linux-main">
    <!-- <p>This section is for Linux Desktop Environments, Distros and Themes.</p> -->

    <section>
      <h1>My Goal:</h1>

      <p>
        My Goal is to help users see the differences between the different Linux
        Desktop Distros, and also the relationship between them and to hopefully
        help find the combination that works for them.
      </p>

      <p>
        I also want to promote open source software and Linux (as well as
        potentially adding BSD).
      </p>
    </section>

    <section>
      <h1>What this LinuxHQ section includes</h1>
      <ul>
        <li>
          Linux Desktop options including screenshots, system requirments, and
          info on what version is in what Linux Distribution
        </li>
        <li>
          Linux Distrobution information including currently supported release
          and desktop options and screenshots
        </li>
        <li>
          Theming: Information on Linux Themes, Icon and Cursor packs to custom
          the look of your Linux desktop
        </li>
      </ul>
    </section>
  </div>
</LinuxBaseTemplate>

<style lang="scss">
  @use "@scss/base/_index.scss" as *;

  .linux-main {
    @include flex($direction: column, $wrap: nowrap, $ai: center);

    padding: 1.5rem 2rem;

    @media (width <= $breakpoint-sm) {
      padding: unset;
    }

    > * {
      max-width: 80%;
      margin: 1rem 0;
    }

    section {
      @include border-radius;
      @include color-level(2);

      // use outline and box-shadow combo mixin
      @include default-ol-and-bs( 
        $ol-color: clr(accent-color),
        $ol-color-dark: clr(light-color),
        $bs-color: clr(accent-color),
        $bs-color-dark: clr(light-color),
        $bs-x: 5px,
        $bs-y: 5px,
        $bs-blur: 3px
      );

      max-width: 60vw;

      @media ($breakpoint-sm) {
        max-width: 100%;
      }

      padding: 1.5rem;

      p {
        margin: 1rem 0;
      }
    }

    h1 {
      font-size: 1.5rem;
      // margin: 1rem 0;
      font-weight: 600;
    }

    ul {
      // list-style-type: none;
      margin: 2rem 1rem;
      padding: 0;

      li {
        border-radius: 8px;
        margin-left: 2rem;
        padding: 1rem;

        transition: box-shadow 0.3s ease;

        // removes the extra background level ... not sure why i set that globally
        background-color: unset;

        @media ($breakpoint-sm) {
          padding: 0 1.5rem
        }
      }
    }
  }
</style>
