---
import LinuxDesktopTemplate from "@layouts/templates/linuxhq/linux-desktop-template.astro";
---

<LinuxDesktopTemplate
  title="Linux Desktops"
  keywords="Linux Desktops, Linux Desktop Environments, Linux Desktop Themes"
  description="Linux Desktops, Desktop Environments, and Themes"
>
  <div slot="linux-main" class="linux-main">
    <p>This section is for Linux Desktop Environments, Distros and Themes.</p>

    <p>
      My Goal is to help users see the differences between the different Linux
      Desktop Distros, and also the relationship between them and to hopefully
      help find the combination that works for them.
    </p>

    <p>
      I also want to promote open source software and Linux (as well as
      potentially adding BSD).
    </p>

    <hr />

    <h1>What this LinuxHQ section includes</h1>
    <ul>
      <li>
        Linux Desktop options including screenshots, system requirments, and
        info on what version is in what Linux Distrobution
      </li>
      <li>
        Linux Distrobution information including currently supported release and
        desktop options and screenshots
      </li>
      <li>
        Theming: Information on Linux Themes, Icon and Cursor packs to custom
        the look of your Linux desktop
      </li>
    </ul>
  </div>
</LinuxDesktopTemplate>

<style lang="scss">
  @use "@scss/base/_index.scss" as *;

  .linux-main {
    display: flex;
    flex-flow: column nowrap;

    box-shadow: 5px 5px 3px var(--main-color);
    // font-size: 1.5rem;
    // line-height: 2rem;
    // margin: 0 auto;
    outline: 1px solid var(--accent-color);
    padding: 1.5rem 2rem;

    html[data-theme="dark"] & {
      outline: 1px solid var(--light-color);
      box-shadow: 5px 5px 3px var(--light-color);
    }

    > * {
      max-width: 72ch;
      margin: 2rem 0;
    }

    h1 {
      font-size: 2rem;
      margin: 1rem 0;
      font-weight: 600;
    }

    ul {
      // list-style-type: none;
      margin: 2rem 1rem;
      padding: 0;

      li {
        //width: 100%;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 10px;
        transition: box-shadow 0.3s ease;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
</style>
