---
// This is the part for the sections, not the aside...
// only the pages should call this... again NOT the aside pages/astro files
---

<div class="mobile_menu_related">
  <!-- Sends users to menus -->
  <a href="#asidetarget" class="linktoaside">Link to Menu</a>

  <!-- target for "backtotop" link  -->
  <div id="backtotop"></div>
</div>
