---
import "@css/global-styles.css";

import LinuxBaseTemplate from "./linux-base-template.astro";
import DesktopSidebar from "@layouts/linuxHQ/asides/desktop_sidebar.astro";
---

<LinuxBaseTemplate>
  <div slot="linux-container">
    <aside>
      <DesktopSidebar/>
    </aside>
    <main>
      <!--this slot is where the content of the pages, using this sub-template should go -->
      <slot name="linux-main"/>
    </main>
  </div>
</LinuxBaseTemplate>

<!-- <style lang="scss">
  .primary-container {
    display: flex;
    gap: 1rem;
    aside {
        flex: 1;
        max-width: 15rem;
      }

      main {
        flex: 3;
      }

  }
 
  @media (max-width: 600px) {
    .primary-container {
      flex-direction: column;
    }

    main {
      width: 100%;
    } 
  }
</style> -->
