---
import "@css/global-styles.css";

import LinuxBaseTemplate from "./linux-base-template.astro";
import DesktopSidebar from "@layouts/linuxHQ/asides/desktop_sidebar.astro";
---

<LinuxBaseTemplate>

<div class="main-section">
  <aside>
    <DesktopSidebar />
  </aside>
  <div class="primary-content">
    <slot />
  </div>
</div>
