---
import LinuxBaseTemplate from "./linux-base-template.astro";
import DistroSidebar from "@layouts/linuxHQ/asides/distro_sidebar.astro";
---
<LinuxBaseTemplate>

<div class="main-section">
  <aside>
    <DistroSidebar />
  </aside>
  <main>
    <slot />
  </main>
</div>

</LinuxBaseTemplate>
