---
import LinuxBaseTemplate from "./linux-base-template.astro";
import DistroSidebar from "@layouts/linuxHQ/asides/distro_sidebar.astro";
---
<LinuxBaseTemplate>

<div class="main-section" slot="linux-container">
  <aside>
    <DistroSidebar />
  </aside>
  <main>
     <!--this slot is where the content of the pages, using this sub-template should go -->
     <slot name="linux-main"/>
  </main>
</div>

</LinuxBaseTemplate>
