---
import LinuxBaseTemplate from "./linux-base-template.astro";
import DistroSidebar from "@layouts/linuxHQ/asides/distro_sidebar.astro";

const { title, keywords, description } = Astro.props;
---

<LinuxBaseTemplate title={title} keywords={keywords} description={description}>
  <div class="main-section" slot="linux-container">
    <aside>
      <DistroSidebar />
    </aside>
    <main>
      <slot />
    </main>
  </div>
</LinuxBaseTemplate>
