---
import LinuxBaseTemplate from "./linux-base-template.astro";
import ThemingSidebar from "../../linuxHQ/asides/linuxtheme_aside.astro";

const { title, keywords, description } = Astro.props;
---

<LinuxBaseTemplate title={title} keywords={keywords} description={description}>
  <div class="main-section">
    <aside>
      <ThemingSidebar />
    </aside>
    <main>
       <!--this slot is where the content of the pages, using this sub-template should go -->
       <slot name="linux-main"/>
    </main>
  </div>
</LinuxBaseTemplate>
