---
import LinuxBaseTemplate from "./linux-base-template.astro";
import ThemingSidebar from "../../linuxHQ/asides/linuxtheme_aside.astro";
---

<LinuxBaseTemplate>
  <div class="main-section">
    <aside>
      <ThemingSidebar />
    </aside>
    <main>
      <slot />
    </main>
  </div>
</LinuxBaseTemplate>
