---
import DistroSidebar from "@layouts/linuxHQ/asides/distro_sidebar.astro";
import LinuxBaseTemplate from "./linux-base-template.astro";

const { title = "" } = Astro.props;
const appendedTitle = `Linux Distribution Section - ${title}`;

const { keywords, description } = Astro.props;
---

<LinuxBaseTemplate 
  title={appendedTitle}
  keywords={keywords} 
  description={description}>
  <div slot="linux-container">
    <aside>
      <DistroSidebar />
    </aside>
    <main>
      <slot />
    </main>
  </div>
</LinuxBaseTemplate>
